<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todoList">
      <ion-label>{{todo.title}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="todo.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color='light' (click)="presentAlert()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>